
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*EDIÇÃO DO CABEÇALHO*/
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    padding: 16px;
    float: left;
    width: 70%;
}

.redes-sociais ul li{
    display: inline-block;
    padding-left: 25px;
}

.redes-sociais{
    float: right;
    width: 25%;
}

/*EDIÇÃO DO SLIDE*/
.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.sub-menu-principal{
    border-bottom: 8px solid #efefef;
    height: 80px;
}

.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 45px;
}

.menu ul li:hover{
    border-bottom: 1px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
}

ul{ /*Resetar as configurações padrões de margin e padding do navegador*/
    padding: 0px!important;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float: left;
}

.busca{
    width: 30%;
    float: right;
    text-align: center;
}

.busca input{
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 10px;
    padding: 12px;
    width: 190px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 40%;
    left: 14%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color:transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 40%;
    right: 14%;
}

/*EDIÇÃO DO CAMPO DE SLIDES*/
.slider-principal{
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
   
}

li.slick-active button {
    background: #00bac6;
}


.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 400px;
}

.slick-dots li{
    display: inline-block;
    padding-left: 8px;
}

/*EDIÇÃO DO CONTEÚDO DA PÁGINA*/
.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    color: #545454;
    font-size: 32px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.texto-destaque p{
    color: #9a9a9a;
    font-size: 18px;
    position: absolute;
}

.col-3{
    width: 29%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.margem-bloco{
    margin-top: 10em;
}
.col-3 .img-meio{
    margin-top: 3em;
}
h3 {
    font-weight: normal;
    font-family: sans-serif;
}

/*EDIÇÃO DO CAMPO DE FOTOS*/
.campo-fotos{
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    background-color: #efefef;
}
.bloco-fotos{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.campo-fotos::before{
    width: 100%;
    background-color: #ffffff;
    content: '';
    height: 50px;    
    background-image: url(../img/setinha.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;    
}

.fotos{
    border: 1px solid #252323;
    padding: 20px 0px 10px 22px;
    margin-left: 45px;
    height: 280px;
    width: 350px;
    background-color: #efefef;
}
.fotos p{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bolder;
}

/*EDIÇÃO DE CAMPO DE PARCEIROS/APOIADORES*/
.bloco-logos{
    height: 170px;
}

.col-4{
    float: left;
    width: 25%;
    text-align: center;
    cursor: pointer;
    height: 120px;
}

.col-4 img{
    margin: 0 auto;    
    vertical-align: middle;
    margin-top: 40px;
}

.col-4 img:hover{
    margin-top: 20px;
    transition: 1s;
}

.col-4 .posicao-foto{
    margin-top: 50px;
}

/*EDIÇÃO DO FOOTER*/
.footer{
    background-image: url(../img/footer.png);
    color: #ffffff;
    height: 400px;
    width: 100%;
}

.footer h3{
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    margin: 15px 15px;
    margin-top: 30px;
}

.footer p{
    float: left;
    margin-left: 0px;
    font-family: sans-serif;
    font-size: 15px;
    margin: 20px 20px;
    text-align: justify;
}

.clock-icon::before{
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../img/clock.png);
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    padding-left: 5px;
}

.local-icon::before, .email-icon::before, .tel-icon::before{
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    padding-left: 5px;
    padding: 3px 3px;
}
.local-icon::before{
    background-image: url(../img/local.png);
}
.email-icon::before{
    background-image: url(../img/email.png);
}
.footer a{
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    color: #ffffff;
    float: left;
}
.tel-icon::before{
    background-image: url(../img/telefoneico.png);
}

.footer-2{
    background-image: url(../img/footer2.png);
    color: #ffffff;
    height: 40px;
    width: 1250px;
    padding: 30px;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}