
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*Edição de cabeçalho*/
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    padding: 16px;
    float: left;
    width: 70%;
}

.redes-sociais ul li{
    display: inline-block;
    padding-left: 25px;
}

.redes-sociais{
    float: right;
    width: 25%;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.sub-menu-principal{
    border-bottom: 8px solid #efefef;
    height: 80px;
}

.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 45px;
}

.menu ul li:hover{
    border-bottom: 1px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
}

ul{ /*Resetar as configurações padrões de margin e padding do navegador*/
    padding: 0px!important;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float: left;
}

.busca{
    width: 30%;
    float: right;
    text-align: center;
}

.busca input{
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 10px;
    padding: 12px;
    width: 190px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 40%;
    left: 14%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color:transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 40%;
    right: 14%;
}

.slider-principal{
    overflow: hidden;
}
/* Excluir isso caso o overflow: hidden da classe .slider-principal funcione corretamente

.slick-initialized{
    overflow: hidden;
}*/

.slick-dots li button {
    font-size: 0px;
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
   
}

li.slick-active button {
    background: #00bac6;
}


.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 400px;
}

.slick-dots li{
    display: inline-block;
    padding-left: 8px;
}

.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    color: #545454;
    font-size: 32px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.texto-destaque p{
    color: #9a9a9a;
    font-size: 18px;
    position: absolute;
}

.col-3{
    width: 29%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.margem-bloco{
    margin-top: 10em;
}
.col-3 .img-meio{
    margin-top: 3em;
}
h3 {
    font-weight: normal;
    font-family: sans-serif;
}